<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Change Successful</title>
</head>
<body style="font-family: Arial, sans-serif;">
<h1>Password Change Successful</h1>

<p>Hello, <span th:text="${full_name}"></span>!</p>

<p>This is a confirmation that the password for your account has been successfully changed.</p>

<p>If you did not make this change, please contact our support team immediately to revoke it.</p>
</body>
</html>
